body{
  margin:0;
  padding:20px;
  font:12px/17px Arial, sans-serif;
  background:#f9f9f9;
}

canvas {
	margin: -13px;
}

#output{
  position:absolute;
  top:20px;
  left:0px;
  font: 12px Arial, sans-serif;
}